.pre-code {
    background-color: #ebebeb; 
    color: #575757; 
    font-size: 16px;
}

.cyan {
    color: rgb(0, 174, 255);
}   


.blue {
    color: blue; 
}

.purple {
    color: purple;
}

.grey {
    color: grey;
}

.red {
    color: red;
}


